:root {
  --color-accent: #ed3512;
  --clr-btn-accent: #7483ef;
  --clr-btn-accent-hover: #5e6eeb;
  --text-grey-color: #615d5d;
  --text-light-grey: #9da4bd;
  --text-white-color: #ffffff;
  --text-dark-color: #303030;
  /* --bg-black-color: #151212; */
  --bg-black-color: #1a1313;
  --bg-white-color: #ffffff;
  --bg-darker-white: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

body {
  min-height: 100vh;
  color: var(--text-dark-color);
  font-family: "Overpass", sans-serif;
}

/* Header */
/* header {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(134, 231, 231);
} */
header {
  display: none;
}
.logo i {
  margin-right: 7px;
}
.header-nav-links {
  display: flex;
  align-items: center;
}
.header-nav-links a {
  color: var(--text-light-grey);
}
.header-nav-links li:not(:last-child) {
  margin-right: 10px;
}

.header-nav-links a:hover {
  color: var(--color-accent);
}
.active {
  color: var(--color-accent);
}

.btn-header {
  font-size: 14px;
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid var(--clr-btn-accent);
  color: var(--text-light-grey);
  transition: all 250ms ease;
}
.btn-header:hover {
  border: 2px solid var(--clr-btn-accent-hover);
  background-color: var(--clr-btn-accent-hover);
  color: var(--text-white-color);
}
/* Hero */
#hero {
  background-image: url(../images/hero-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 560px;
  background-color: var(--bg-black-color);
  color: var(--text-white-color);
}
/* Footer */
footer {
  background-color: bisque;
}
/* 

body.modal-open {
    overflow: hidden;
} */

/* MEDIA */

/* Media query : large or landscape phones */
@media screen and (min-width: 576px) {
  /* Header */
  header {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-black-color);
  }
  .logo {
    font-size: 20px;
    color: var(--color-accent);
  }
}

/* Media query: tablets and larger (768px and up)*/

@media screen and (min-width: 768px) {
  /* Header */
}

/* Large devices media screen(laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  /* Header */
  header {
    padding: 10px 20px;
  }
  .logo {
    font-size: 24px;
  }

  .btn-header {
    font-size: 16px;
  }
  .header-nav-links a {
    font-size: 18px;
  }
  .header-nav-links li:not(:last-child) {
    margin-right: 15px;
  }
}
