:root {
  --color-accent: #ed3512;
  --clr-btn-accent: #7483ef;
  --clr-btn-accent-hover: #5e6eeb;
  --text-light-grey: #9da4bd;
  --text-white-color: #ffffff;
  --text-dark-color: #262525;
  --bg-black-color: #1a1313;
  --bg-white-color: #ffffff;
  --bg-darker-white: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
}

body {
  min-height: 100vh;
  color: var(--text-dark-color);
  font-family: "Overpass", sans-serif;
}

@keyframes rotateY-anim {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* HEADER */
/* mobile header */
.mobile-header {
  position: absolute;
  width: 100%;
}
/* Burger-menu */
#open-burger-menu {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#close-burger-menu {
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#open-burger-menu:hover,
#close-burger-menu:hover {
  color: var(--color-accent);
}

.close {
  display: none;
}
.nav-mob {
  height: 0;
  overflow: hidden;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 100vh;
  padding: 20px;
  margin-left: auto;
  background-color: aliceblue;
}
.nav-links-mob li {
  margin-bottom: 10px;
}

.nav-links-mob a {
  color: var(--text-dark-color);
  transition: 0.3s ease-in-out;
}
.nav-links-mob a:hover {
  color: var(--color-accent);
  text-decoration: underline;
}
/* Table-desk header */
.tabl-desk-header {
  display: none;
}
.logo {
  font-size: 18px;
  color: var(--text-light-grey);
  transition: all 250ms ease;
}
.logo:hover {
  color: var(--color-accent);
}
.logo i {
  margin-right: 7px;
  animation: rotateY-anim 5s linear infinite;
  color: var(--text-white-color);
}

.header-nav-links {
  display: flex;
  align-items: center;
}
.header-nav-links a {
  color: var(--text-light-grey);
  transition: all 250ms ease;
}
.header-nav-links a:hover {
  color: var(--color-accent);
}
.header-nav-links li:not(:last-child) {
  margin-right: 10px;
}

.btn-header {
  font-size: 12px;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid var(--clr-btn-accent);
  color: var(--text-light-grey);
  transition: all 250ms ease;
}
.btn-header:hover {
  border: 2px solid var(--clr-btn-accent-hover);
  background-color: var(--clr-btn-accent-hover);
  color: var(--text-white-color);
}

/* HERO */

#hero {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.6),
      rgba(25, 28, 38, 0.6)
    ),
    url(../images/hero-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  background-color: var(--bg-black-color);
  color: var(--text-white-color);
}
.text-thumb {
  font-weight: bold;
  padding-top: 150px;
  padding-bottom: 30px;
  text-align: center;
}

.text-thumb h1 {
  font-size: 48px;
  margin-bottom: 7px;
}
.text-thumb p {
  font-size: 16px;
  letter-spacing: 1px;
}
.btn-member {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  background-color: var(--clr-btn-accent);
  border-radius: 4px;
  border: 1px solid var(--clr-btn-accent-hover);
  cursor: pointer;
  color: var(--text-white-color);
  transition: all 250ms ease;
}

.btn-member:hover {
  background-color: var(--clr-btn-accent-hover);
  transform: scale(1.03);
}
/* ABOUT */
#about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--bg-darker-white);
  outline: 1px solid tomato;
}
.advantages-list {
  display: flex;
  flex-direction: column;
}
.advantages-item {
  font-size: 18px;
}
.advantages-item i {
  margin-right: 5px;
  color: var(--color-accent);
}
/* OFFERS */
.container {
  margin: 0px 30px;
}
/* FOOter */
footer {
  background-color: var(--bg-black-color);
  padding: 5px 0;
}
.heading-social {
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
  color: var(--text-light-grey);
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
}
.social-links i {
  color: var(--bg-white-color);
  transition: all 250ms ease;
}

.social-links i:hover {
  color: var(--color-accent);
}
/* 

body.modal-open {
    overflow: hidden;
} */

/* MEDIA */

/* Media query : large or landscape phones */
@media screen and (min-width: 576px) {
  /* Header */
  .tabl-desk-header {
    padding: 5px 10px;
    width: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-black-color);
  }

  /* Hero */
  #hero {
    height: 540px;
  }
  .text-thumb {
    align-items: end;
  }
  .text-thumb h1 {
    margin-bottom: 10px;
  }
  .text-thumb p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  /* About */
  .advantages-list {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Media query: tablets and larger (768px and up)*/

@media screen and (min-width: 768px) {
  .container {
    margin: 0px 40px;
  }
  /* About */
  .advantages-item {
    font-size: 20px;
  }
  /* Footer */
  footer {
    padding: 7px 0;
  }
  .heading-social {
    font-size: 16px;
    margin-bottom: 7px;
  }
  .social-links {
    font-size: 18px;
  }
}

/* Large devices media screen(laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .container {
    margin: 0px 60px;
  }
  /* Header */
  header {
    padding: 5px 20px;
  }
  .logo {
    font-size: 22px;
  }

  .header-nav-links li:not(:last-child) {
    margin-right: 30px;
  }
  /* Hero */
  #hero {
    height: 590px;
  }

  .text-thumb {
    padding-right: 120px;
  }
  .text-thumb h1 {
    font-size: 54px;
  }
  .btn-member {
    font-size: 18px;
    padding: 15px 20px;
  }
}
